* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    height: 100%
}

body {
    width: 100%;
    height: 100%;
    background-image: url(./img/bg@2x.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#app {
    position: relative;
    width: 100%;
    height: 100%;

}

/* 上部 */
.title {
    position: relative;
    left: 30%;
    top: 6%;
    width: 40%;
    height: 9%;
    /* border: 1px solid aqua; */
    background-image: url(./img/titlebg.png);
    background-size: 100% 100%;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;

}

.title-text-img {
    position: relative;
    top: 10%;
    width: 60%;
    height: 50%;
    /* border: 1px solid firebrick; */
}

/* 中间时间 */
.time-wrapper {
    position: relative;
    /* top: 50px; */
    top: 8%;
    left: 3%;
    width: 65%;
    height: 23%;
    /* border: 1px solid red */
}

.time-tltle {
    position: absolute;
    width: 40%;
    height: 100%;
    /* background-image: url(./img/countDown.png);
    background-size:100% 100%; */
    /* background-position: 20% 0 */

}

.time-tltle-div {
    position: relative;
    width: 100%;
    height: 100%;
}

.time-tltle-div-img {
    position: absolute;
    top: 15%;
    left: 20%;
    width: 70%;
    height: 60%;
}

.time-number {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 0;
    right: 8%;
    width: 50%;
    height: 90%;
    /* border: 1px solid rebeccapurple; */
    background-image: url(./img/timebg.png);
    background-size: 100% 100%;
}

.time-number-div {
    position: relative;
    width: 100%;
    height: 100%;
}

.time-maohao-div-img {
    width: 30%;
}

.time-number-div-img {
    position: absolute;
    top: 25%;
    left: 10%;
    width: 80%;
    height: 50%;
}

/* 左下 */

.ranking-wrapper {
    position: absolute;
    bottom: 3%;
    left: 3%;
    /* border: 1px solid yellow; */
    background-color: rgb(13, 27, 74);
    width: 65%;
    height: 56.4%;

}

.top-left-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    z-index: 999;
}

.top-right-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    z-index: 999;
}

.bottom-left-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 20px;
    z-index: 999;
}

.bottom-right-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    z-index: 999;
}

.ranking-title {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 10%;
    padding-left: 3%;
    /* border: 1px solid green; */
    top: 20px;
    /* margin-bottom: 10px; */

}

.ranking-title-three-div {
    position: relative;
    width: 4%;
    height: 100%;
    /* border: 1px solid red; */
}

.ranking-title-div {
    position: relative;
    width: 16%;
    height: 100%;
    /* border: 1px solid red; */
}

.ranking-title-img {
    position: absolute;
    top: 30%;
    left: 10%;
    height: 10%;
    width: 80%;
    height: 40%;
}

.ranking-title-three-img {
    position: absolute;
    top: 30%;
    left: 10%;
    height: 10%;
    width: 80%;
    height: 40%;
}



.ranking-content-wrapper {
    position: relative;
    overflow: hidden;
    top: 20px;
    display: flex;
    float: left;
    margin: 1.3% 1.3% 0;
    width: 47.65%;
    height: 37%;
    background-color: rgb(13, 33, 91);
    border-bottom: 1px solid rgb(105, 171, 205);
    /* box-shadow: 0 0 5px #fff; */
    transition: all 1s;
    /* border: 1px solid aqua; */
}

.margin-right-0 {
    margin-right: 0
}

.ranking-content-title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 10.7%;
    height: 100%;
    /* border: 1px solid salmon; */
    padding: 0px 10px;
    background-image: url(./img/rankingList.png);
    color: rgb(105, 171, 205);
    font-weight: 600;
}

.ranking-content-echart {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 200%;
    top: 0%;
    color: rgb(105, 171, 205);
    font-size: 12px;
    /* border: 1px solid rebeccapurple; */
}

/* .ranking-content-echart-pie {
    width: 20%;
    height: 80%;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */
.ranking-content-title-text {
    /* border: 1px solid rosybrown; */
    text-align: center;
}

/* 右下 */
.log-wrapper {
    position: absolute;
    bottom: 3%;
    right: 3%;
    /* border: 1px solid firebrick; */
    background-color: rgb(13, 27, 74);
    width: 26%;
    height: 75%;
    color: rgb(105, 171, 205);
    font-size: 12px;
    overflow: hidden;

}

.log-title {
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 8%;
    /* border: 1px solid green; */
    margin-bottom: 20px;
}

.log-title-three-div {
    position: relative;
    width: 10%;
    height: 100%;
    /* border: 1px solid red; */
}

.log-title-div {
    position: relative;
    width: 40%;
    height: 100%;
    /* border: 1px solid red; */
}

.log-title-img {
    position: absolute;
    top: 30%;
    left: 10%;
    height: 10%;
    width: 80%;
    height: 40%;
}

.log-title-three-img {
    position: absolute;
    top: 30%;
    left: 10%;
    height: 10%;
    width: 80%;
    height: 40%;
}

.log-content-wrapper {
    position: relative;
    top: 20px;
    display: flex;
    border-bottom: 1px solid rgb(105, 171, 205);
    margin-bottom: 8px;
    background-color: rgb(13, 32, 90);
    height: 70px;
}

.log-content-wrapper-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 30%;

}

.log-content-wrapper-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 70%;
    /* border: 1px solid indianred */
}

/* 公用样式 */
.padding-3 {
    padding: 3px;
    /* height: 30px; */
    /* vertical-align: top; */
    /* background-color: red */
}

.team-name-img {
    width: 20px;
    height: 20px;
    vertical-align: top
}

/* 动画效果 */
.list-enter-active,
.list-leave-active {
    transition: all 1s;
}

.list-enter,
.list-leave-to {
    opacity: 0;
    font-weight: bold;
    font-size: 30px;
    height: 1px;
    text-shadow: 3px 4px 5px rgba(255, 0, 0);
    transform: translateY(-30px);
    background-color: #ffffff;
}


.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
}


/* 开始按钮 */
.start-but {
    position: absolute;
    top: 8%;
    right: 13%;
    width: 100px;
    height: 60px;
    /* background-color: #ffffff; */
    color: rgb(105, 171, 205) !important;
    font-weight: 600;
    border-radius: 4px;
    text-align: center;
    line-height: 60px;
}


/* 动画相关效果 */

.ranking-content-echart-wrapper {
    position: relative;
    width: 100%;
    height: 16px;
    /* border: 1px solid yellow; */
}

.div-name {
    position: absolute;
    width: 24%;
    left: 0;
    /* color: rgb(105, 171, 205); */
    /* font-size: 12px; */
    text-align: right;
}

.div-bg {
    position: absolute;
    left: 25%;
    background-color: aqua;
    opacity: 0;
    height: 15px;
    width: 50%;
}

.div-plan {
    position: absolute;
    left: 25%;
    z-index: 1;
    background: -webkit-linear-gradient(left, rgba(27, 68, 158, 1), rgba(104, 165, 228, 1));
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(rgba(right, 27, 68, 158, 1), rgba(104, 165, 228, 1));
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(rgba(right, 27, 68, 158, 1), rgba(104, 165, 228, 1));
    /* Firefox 3.6 - 15 */
    background: linear-gradient(right, rgba(27, 68, 158, 1), rgba(104, 165, 228, 1));
    /* 标准的语法 */
    height: 15px;
    width: 0%;
    transition: width 1s linear;
}

.div-span-text {
    position: absolute;
    /* border: 1px solid khaki; */
    z-index: 88;
    width: 10%;
    left: 76%;
    height: 15px;
    /* color: rgb(105, 171, 205); */
    /* font-size: 12px; */
    transition: left 1s linear;
    /* text-align: right; */
}

/* 排名变化特效 */
.flip-list-move {
    transition: all 1s;
    /* transition: transform 1s; */
    /* background-color: #ffffff; */
    /* opacity: 0; */
    box-shadow: 0 0 5px #fff;
    font-size: 14px;
    color: rgb(232, 49, 35)
}


.pie-echart-style {
    width: 17%;
    height: 18px;
    position: absolute;
    right: 0;
    z-index: 4;
}

.active {
    /* box-shadow: 0 0 5px #fff; */
}

/* logo  */
.logo-img {
    position: absolute;
    top: 6%;
    left: 3%;
    width: 100px;
    height: 60px;
}